<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Esmtp>
            <version>0.1.0</version>
        </Stuntcoders_Esmtp>
    </modules>
    <global>
        <models>
            <stuntcoders_esmtp>
                <class>Stuntcoders_Esmtp_Model</class>
                <resourceModel>stuntcoders_esmtp_resource</resourceModel>
            </stuntcoders_esmtp>
            <core>
                <rewrite>
                    <email_template>Stuntcoders_Esmtp_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <helpers>
            <stuntcoders_esmtp>
                <class>Stuntcoders_Esmtp_Helper</class>
            </stuntcoders_esmtp>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stuntcoders_esmtp>
                                            <title>Esmtp</title>
                                        </stuntcoders_esmtp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <stuntcoders_esmtp>
            <general>
                <enabled>0</enabled>
                <port>25</port>
                <auth>none</auth>
                <encription>none</encription>
            </general>
        </stuntcoders_esmtp>
    </default>
</config>
